body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 150;
    justify-content: center;
}
h1 {
    text-align: center;
    font-size: 2rem;
}
h2{
    margin: 0;
    width: 120px;
    display: inline-block;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    text-align: center;
    font-size: 1.5rem;
    
}

p {
    margin: 10px;
    font-size: 1rem;
}
.big-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.box{
    background-color:#00000081;
    text-align: left;
    width: 300px;
    border: 2px solid black ;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
}
.container .box:nth-child(1) h2{
    background-color: palevioletred;
}
.container .box:nth-child(2) h2{
    background-color: red;
}
.container .box:nth-child(3) h2{
    background-color: yellow;
}
@media (max-width:991px) {
    .container{
        flex-wrap: wrap;
       
    }
    .box{
        flex-grow: 1;
    }
    
}
@media(max-width:767px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    .box{
        margin: 20px 20px;
    }
}

